.opensans-thin {
  font-family: "Open Sans";
  font-weight: 500;
}
.opensans-thick {
  font-family: "Open Sans";
  font-weight: 800;
}

.slug-img-parent {
  height: 60vh;
  position: relative;
}

.slug-img-parent-preview {
  height: 30vh;
  position: relative;
}

.slug-img {
  object-fit: cover;
  filter: brightness(15%);
  height: 100%;
  width: 100%;
}

.news-slug-absolute-text {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(
    -50%,
    -50%
  ); /* This is a shorthand of
                                       translateX(-50%) and translateY(-50%) */
  color: white;
}

.slug-img-within-container {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.slug-content {
  line-height: 36px;
}
