.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 71%, 96%);
  }
  100% {
    background-color: hsl(197, 6%, 79%);
  }
}

.roundedEdge {
  border-radius: 7px;
}
