.slug-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  filter: brightness(20%);
}

.slug-img-within-container {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.slug-content {
  line-height: 40px;
}
