.Admin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.admin-link {
  cursor: pointer;
  transition: 500ms;
}

.admin-link:hover {
  background-color: white !important;
}

.admin-link:hover > h6 {
  color: black !important;
}

.modal-content {
  border-radius: 0 !important;
  border: none !important;
}

.modal-dialog {
  max-width: none !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.modal-backdrop {
  background-color: white !important;
}

.modal-backdrop.show {
  opacity: 1 !important;
}

.fade.m-0.modal.show {
  padding-left: 0px !important;
  overflow-y: hidden;
}
